.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
  }

.title {
  margin: 0px 0px 30px 4px;
  color: var(--lightest-slate);
}

.title h1 {
  font-family: var(--font-mono);
  font-weight: 400;
  font-size: clamp(40px, 8vw, 80px);
}

.title h2 {
  font-weight: 600;
  margin-top: 5px;
  color: var(--slate);
  line-height: 0.9;
  font-size: clamp(20px, 8vw, 60px);

}

.description {
  margin: 0px 0px 30px 4px;
}

.description p {
  margin: 20px 0px 0px;
  max-width: 540px;
}

.buttonContainer {
  margin: 10px 0px 0px;

}